  /* ver 1.1 */
  /* 모든 태그에 적용 */
  *{
     font-family: Malgun Gothic; 
     font-size: 14px; 
     margin: 0px;  /* top right bottom left */
     padding: 0px;
     color: #555555;
  }  
  
  .container {
    width: 90%; 
    margin: 10px auto;
  }
  
  .tdmd {
    vertical-align: middle;
  }
  
  .content_body {
    width: 84%;
    float: left;
    margin-bottom: 10px;
  }
  
  .content_bottom {
  
  }
  
  .bottom_menu {
    text-align: center; 
    margin: 20px auto;
    clear: both;  /* 앞쪽 태그의 float 효과를 제거함. */
  }
  
  .copyright {
    border-top: solid 1px #999999;
    text-align: center; 
    clear: both;  /* 앞쪽 태그의 float 효과를 제거함. */    
  }
  
  .li_none {
    list-style: none;
    margin: 15px 10px;
  }

  .li_none_left {
    text-align: left;
    list-style: none;
    margin: 15px 10px;
  }
  
  .li_warning { /* 경고 메시지 */
    list-style: none;
    margin: 15px 10px;
    color: #FF6600;
  }
  
  .li_error { /* 에러 메시지 */
    list-style: none;
    margin: 15px 10px;
    color: #FF0000;
  }
  
  .li_right {
    text-align: right;
    list-style: none;
    margin: 20px auto;
    padding-right: 20px;
  }
    
  .fieldset_basic {
    width: 90%; 
    margin: 10px auto; 
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    padding: 10px;
  }
  
  .legend_basic {
    margin-left: 30px; 
    border: solid 1px #999999; 
    background-color: #A6C2FF; 
    color: #FFFFFF;
  }
  
  .input_basic {
    border-top: none;
    border-right: none;
    border-bottom: solid 1px #999999;
    border-left: none;
  }
  
  .title_line {
    text-align: left;
    border-bottom: solid 3px #555555;
    font-size: 20px;
    width: 100%;
    margin: 20px auto;    
  }
  
  .sub_menu {
    text-align: right;
    width: 100%;
  }
  
  /* 1em 기본값 : 16px, 주변 태그의 글자크기를 1em으로 인식
      DIV 태그가 20px 일경우 자식태그가 0.5em이면 최종적으로 10px이 적용됨.
      DIV 태그가 20px 일경우 자식태그가 1em이면 최종적으로 20px이 적용됨.
      DIV 태그가 20px 일경우 자식태그가 1.5em이면 최종적으로 30px이 적용됨.
  */
  .th_basic {
    font-size: 0.8em;
    border-bottom: solid 3px #DDDDDD; 
  }
  
  .th_bs {
    text-align: center;
  }
  
  .td_basic {
    background-color: #FFFFFF;
    border-top: none;
    border-right: none;
    border-bottom: solid 1px #DDDDDD;
    border-left: none;
    text-align: center;
  }
  
  .td_left {
    background-color: #FFFFFF;
    border-top: none;
    border-right: none;
    border-bottom: solid 1px #DDDDDD;
    border-left: none;
    text-align: left;
  }
  
  .td_bs {
    text-align: center;
  }
  
  .td_bs_left {
    text-align: left;
  }
  
  A:link{  /* 방문전 상태 */
    text-decoration: none; /* 밑줄 삭제 */
    color: #555555;
  }

  A:visited{  /* 방문후 상태 */
    text-decoration: none; /* 밑줄 삭제 */
    color: #555555;
  }
  
  A:hover{  /* A 태그에 마우스가 올라간 상태 */
    text-decoration: underline; /* 밑줄 출력 */
    color: #7777FF;
  }
  
  A:active{  /* A 태그를 클릭한 상태 */
    text-decoration: underline; /* 밑줄 출력 */
    color: #7777FF;
  }
  
  .content_title {
    border-top: none;
    border-right: none;
    border-bottom: solid 1px #DDDDDD;
    border-left: none;
    margin-bottom: 20px;
  }   

  .content_bottom {
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
    font-size: 0.9em;
  }
  
  .li_left_menu_1 { /* 화면 좌측 대분류 */
    list-style: none;
    margin-top: 25px;
    background: url(./images/li_left_menu_1.png) left center no-repeat;
    background-size: 16px;
    padding-left: 25px;
    line-height: 15px;
  }   
    
  .li_left_menu_2 { /* 화면 좌측 중분류 */
    list-style: none;
    margin: 15px 10px;
    background: url(./images/li_left_menu_2.png) left center no-repeat;
    background-size: 16px;
    padding-left: 25px;
    line-height: 15px;
  }   
  
  .label_basic {
    width: 200px;
    background-color: #99cc00;
    color: #FFFFFF;
    font-weight: normal;
    display: inline-block; /* DIV 태그처럼 한줄의 영역을 블럭 영역으로 확장 표시 */
    text-align: right;
    padding-right: 10px;
  }
  
  /* 화면 내용 하단 메뉴 우측 배치 */
  .content_bottom_menu {
    clear: both;
    padding-top: 20px;
    padding-right: 20px;
    text-align: right;
    width: 100%;
    background-color: white;
  }
  
  /* 기타 메시지 */
  .message {
    width: 70%;
    border: none;
    margin: 0px auto;
    text-align: center;
    background-color: #FAFAFA;
    padding: 30px;
    
  }
  
  /* 알림 메시지 */ 
  .span_info {
    color: #ffffff;
    background-color: rgba(0, 200, 0, 0.6);
    padding: 2px;
  }
  
  /* 주의 메시지 */
  .span_alert {
    color: #ffffff;
    background-color: rgba(0, 0, 200, 0.6);
    padding: 2px;
  }
  
  /* 경고 메시지 */  
  .span_warning {
    color: #FFFFFF;
    background-color: rgba(255, 0, 0, 0.6);
    padding: 2px; 
  }
  
  .msg_warning {
    color: #FFFFFF;
    background-color: rgba(255, 0, 0, 0.6);
    padding: 2px;
    margin: 10px auto;
    text-align: center;
    width: 80%; 
  }  
  
  /* 처리 성공 메시지 */
  .span_success {
    background: url('./images/url5.png') left center no-repeat;
    background-size: 10px;
    padding-top: 0px;
    padding-left: 20px; 
  }
  
  /* 처리 실패 메시지 */
  .span_fail {
    background: url('./images/url8.png') left center no-repeat;
    background-size: 10px;
    padding-top: 0px;
    padding-left: 20px; 
  }